<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="log.dir" value="logs" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{MM/dd HH:mm:ss.SSS} [%-5level] | [service     ] %-45.45thread | %35.35logger{35} - %msg %n</pattern>
        </encoder>

    </appender>

    <!-- Write DEBUG (and higher-level) messages to STDOUT -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>